{% extends 'base.html' %} {% load static i18n %} {% block title %}{% trans
'Movies' %}{% endblock %} {% block content %}
<h3>{% trans 'Movies' %}</h3>
<div class="row">
  <div class="col-sm-12">
    <form action="{% url 'movies:index' %}" method="get">
      <input type="text" name="title" id="title" value="" />
      <input type="submit" value="Seach" />
    </form>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><b>Title</b></th>
       <th><b>Rating</b></th>
      <th colspan="2"><b>Actions</b></th>
    </tr>
  </thead>
  <tbody>
    {% for movie in movie_list %}
    <tr>
      <td><a href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a></td>
      <td>{{ movie.get_rating }}</td>
      <td><a href="{% url 'movies:update' movie.pk %}">Edit</a></td>
      <td><a href="{% url 'movies:delete' movie.pk %}">Delete</a></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="6"><a href="{% url 'movies:create' %}">Add new movie</a></td>
    </tr>
  </tbody>
</table>
{% endblock content %}
